.hero{
    border: 2px solid rgba(128, 128, 128,0.4);
    border-radius: 8px;
    width: 100%;
    height: 60vh;
    position: relative;
}
.hero img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.hero-cnt{
    position: absolute;
    left: 0;
    top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
    color: #414141;
    width: 60%;
    padding: 0 20px;
}

.hero-cnt h2{
    font-size: 1.7rem;
    font-weight: 400;
}

.hero-cnt p{
    text-transform: capitalize;
    font-size: 14px;
    margin: 8px 0;
}

.hero-cnt button{
    border: none;
    padding: 12px;
    cursor: pointer;
    background-color: #92EFFF;
    border-radius: 4px;
}


@media (max-width:1100px){
    .hero{
        height: 45vh;
    }
}
@media (max-width:800px){
    .hero-cnt{
        padding: 12px;
        align-items: start;
    }
    .hero-cnt h2{
        font-size: 1.2rem;
    }
    .hero-cnt button{
        padding: 8px;
    }
}