.product-card{
    min-width: 200px;
    min-height: 280px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.75);
    border-radius: 6px;
    color: rgba(128, 128, 128, 0.9);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
}
.product-card img{
    width: 100%;
    height: 220px;
    border-radius: 6px;
}
.product-card-cnt{
    padding: 0 12px ;
}

.product-card-cnt div{
    padding-top: 8px;
    display: flex;
    align-items: center;
    gap: 4px;
}


@media (max-width:1100px){
    .product-item{
        grid-template-columns: auto auto auto auto ;
    }
}
@media (max-width:800px){
    .product-item{
        grid-template-columns: auto auto auto;
    }
}
@media (max-width:500px){
    .product-item{
        grid-template-columns: auto auto;
    }
}