.title{
    width: 100%;
    margin-bottom: 16px;
}
.title h2{
    color: rgba(0, 0, 0, 0.7);
    font-weight: 500;  
}
.title h2 span{
    color: rgba(0, 0, 0, 0.8);
    margin-left: 8px;
}

@media (max-width: 800px) {
    .title h2{
        font-size: 20px;
    }
}