.contact-title{
    text-align: center;
}
.contact-cnt{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    
}
.contact-cnt img{
    width: 30%;
    object-fit: fill;
}
.contact-info{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.contact-info button{
    border: 1px solid black;
    padding: 8px 16px;
    max-width: 120px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: .5s ease-in;
}
.contact-info button:hover{
    background-color: black;
    color: white;
}


@media (max-width:800px){
    .contact-cnt{
        flex-direction: column;
        align-items: start;
        padding: 16px;
    }
    .contact-cnt img{
        width: 100%;
        height: 320px;
    }
}