.products {
   display: flex;
   gap: 32px;
   padding: 12px 0;
}
.filter-sec {
   max-width: 220px;
   display: flex;
   flex-direction: column;
   gap: 8px;
   padding-top: 8px;
}
.filter-sec button {
   display: flex;
   align-items: center;
   gap: 12px;
   border: none;
   background-color: transparent;
   font-size: 16px;
   padding-bottom: 8px;
}
.filter-sec button span{
    display: none;
}

.filter-border{
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 6px;
    padding: 8px 16px;
    margin-bottom: 12px;
}
.filter-cnt {
   display: flex;
   flex-wrap: wrap;
   margin-top: 16px;
   gap: 8px 16px;
   font-size: 14px;
}
.filter-btn {
   display: flex;
   align-items: center;
   gap: 6px;
   color: rgba(0, 0, 0, 0.8);
}
.filter-btn input {
   cursor: pointer;
}
.filter-btn label {
   text-transform: capitalize;
}

.products-title {
   margin: 0 16px;
}
.products-sort {
   text-align: end;
   margin-bottom: 16px;
}
.sort {
   border: 1px solid rgba(128, 128, 128, 0.587);
   border-radius: 6px;
   outline: 0;
   padding: 8px 12px;
   cursor: pointer;
}
.products-sec{
    display: grid;
   grid-template-columns: repeat(4,1fr);
   gap: 16px;
}

@media (max-width: 1200px) {
   .products-sec {
    grid-template-columns: repeat(3,1fr);
   }
}
@media (max-width: 1000px) {
   .products-sec {
    grid-template-columns: repeat(2,1fr);
   }
}

@media (max-width: 800px) {
   .products {
      flex-direction: column;
   }
   .coll-prod .product-item {
      grid-template-columns: auto auto;
   }
   .hidden {
   display: none;
}
.filter-sec{
    max-width: 100%;
}
.filter-sec button span{
    display: block;
}
.products-sec{
    grid-template-columns: repeat(3,1fr);
}
}
