.latest {
   padding: 24px 0;
}
.latest-title {
   width: 80%;
   margin: 0 auto;
   text-align: center;
   margin-bottom: 20px;
}
.latest-prod {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   width: 100%;
   gap: 16px;
   margin-bottom: 32px;
}

@media (max-width: 1200px) {
   .latest-prod {
      grid-template-columns: repeat(4, 1fr);
   }
}
@media (max-width: 900px) {
   .latest-prod {
      grid-template-columns: repeat(3, 1fr);
   }
}
@media (max-width: 600px) {
   .latest-prod {
      grid-template-columns: repeat(2, 1fr);
   }
}
@media (max-width: 420px) {
   .latest-prod {
      display: flex;
      flex-direction: column;
   }
}
